<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!--
  One action per place slacker may be installed. pkexec uses the action
  whose exec.path matches the program it is asked to run; an annotation
  holds a single path, so each location needs its own action.
  auth_admin_keep: one password covers the next few minutes.
-->
<policyconfig>
  <vendor>slacker</vendor>
  <vendor_url>https://forge.slackware.nl/rizitis/slacker</vendor_url>

  <action id="nl.slackware.forge.rizitis.slacker.run">
    <description>Run the slacker package manager as root</description>
    <message>Authentication is required to change installed packages</message>
    <icon_name>system-software-install</icon_name>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/slacker</annotate>
  </action>

  <action id="nl.slackware.forge.rizitis.slacker.run-sbin">
    <description>Run the slacker package manager as root</description>
    <message>Authentication is required to change installed packages</message>
    <icon_name>system-software-install</icon_name>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/slacker</annotate>
  </action>

  <action id="nl.slackware.forge.rizitis.slacker.run-local-bin">
    <description>Run the slacker package manager as root</description>
    <message>Authentication is required to change installed packages</message>
    <icon_name>system-software-install</icon_name>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/slacker</annotate>
  </action>

  <action id="nl.slackware.forge.rizitis.slacker.run-local-sbin">
    <description>Run the slacker package manager as root</description>
    <message>Authentication is required to change installed packages</message>
    <icon_name>system-software-install</icon_name>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/sbin/slacker</annotate>
  </action>
</policyconfig>
